/* Background */
.bg-background {
  background-color: var(--color-background);
}

.bg-surface {
  background-color: var(--color-surface);
}

/* Text */
.text-strong {
  color: var(--color-text-strong);
}

.text-default {
  color: var(--color-text-default);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-tertiary {
  color: var(--color-text-tertiary);
}

.text-error {
  color: var(--color-text-error);
}

.text-success {
  color: var(--color-text-success);
}


/* Text on */
.text-on-primary {
  color: var(--color-on-primary);
}

/* Border */
.border-default {
  border-color: var(--color-border-default);
}

.border-strong {
  border-color: var(--color-border-strong);
}

.border-secondary {
  border-color: var(--color-border-secondary);
}

.border-tertiary {
  border-color: var(--color-border-tertiary);
}

/* Divide colors */
.divide-strong > :not([hidden]) {
  border-color: var(--color-border-strong);
}

.divide-default > :not([hidden]) {
  border-color: var(--color-border-default);
}

.divide-secondary > :not([hidden]) {
  border-color: var(--color-border-secondary);
}

.divide-tertiary > :not([hidden]) {
  border-color: var(--color-border-tertiary);
}
