:root {
    --color-surface: #ffffff;
    --color-background: #f8fafc;
    --color-surface-hover: #f9fafb;


    /* --color-primary-50: #eef4fd;
--color-primary-100: #dce9f9;
--color-primary-200: #c1daf5;
--color-primary-300: #96c4ee;
--color-primary-400: #64a2e4;
--color-primary-500: #377bd9;
--color-primary-600: #2f64c4;
--color-primary-700: #3055aa;
--color-primary-800: #2c468a;
--color-primary-900: #293d6d;
--color-primary-950: #1d2743;
--color-primary: #377bd9; */

    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;

    --color-primary: #2563eb;

    --color-on-primary: #ffffff;
    --color-text-default: #202020;
    --color-text-secondary: #495057;
    --color-text-tertiary: #6c757d;

    --dimen-radius: 0.375rem;
    --dimen-button-radius: 0.375rem;
    --dimen-button-md-px: 1rem;
    --dimen-button-md-py: 0.5rem;
    --dimen-button-md-font-size: 0.9375rem;
    --dimen-button-md-min-height: 2.5rem;
    --dimen-button-md-ldr-size: 1.25rem;
    --dimen-button-md-ldr-margin: 0.75rem;
    --dimen-button-sm-px: 0.75rem;
    --dimen-button-sm-py: 0.375rem;
    --dimen-button-sm-font-size: 0.8125rem;
    --dimen-button-sm-min-height: 2rem;
    --dimen-button-sm-ldr-size: 0.75rem;
    --dimen-button-sm-ldr-margin: 0.5rem;
    --dimen-input-radius: 0.375rem;
    --dimen-input-md-px: 1rem;
    --dimen-input-md-py: 0.4rem;
    --dimen-input-md-font-size: 0.938rem;
    /* --dimen-input-md-font-size: var(--text-sm); */
    --dimen-input-md-min-height: 2.5rem;
    --dimen-input-sm-px: 0.5rem;
    --dimen-input-sm-py: 0.375rem;
    --dimen-input-sm-font-size: 0.75rem;
    --dimen-input-sm-min-height: 2rem;
    --dimen-dialog-radius: 0.375rem;
}