@import "./_variables";
@import "./_base";
@import "./_tailwind";
@import "./_scrollbars";
@import "./_colors";
@import "./comp/_buttons";
@import './comp/_input';
@import './comp/_ig';
@import './comp/_picker';
@import './comp/_select';
@import './comp/_listbox';
@import './comp/_popover-select';
@import './comp/_dialog';
@import "./_datatable";

