.dialog {
  position: relative;
  z-index: 10;
}

.dialog:focus {
  outline: none;
}

.dialog-overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.dialog-scaffold {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.bottom-sheet-scaffold {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  display: flex;
  align-items: flex-end;
  width: 100vw;
  z-index: 20;
}

.dialog-content {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-md);
  backdrop-filter: blur(10px);
  border-radius: var(--dimen-dialog-radius);
}

.dialog-scaffold > .dialog-content {
  border-radius: var(--dimen-dialog-radius);
}

.bottom-sheet-scaffold > .dialog-content {
  border-radius: var(--dimen-dialog-radius) var(--dimen-dialog-radius) 0 0;
}
