.triggerButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.popoverContent {
  margin: 0rem 1rem;
  background-color: var(--color-surface);
  border-radius: var(--dimen-radius);
  padding: 1rem;
  box-shadow: var(--shadow-lg);
  border: 1px solid var(--color-border-default);
  position: relative;
  z-index: 50;
  width: 260px;
}

.popoverBody {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-base);
  color: var(--color-text-default);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userEmail {
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.closeButton {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  color: var(--color-text-tertiary);
  cursor: pointer;
  background-color: var(--color-slate-100);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--dimen-radius);
}

.closeButton:hover {
  color: var(--color-text-default);
  background-color: var(--color-slate-200);
}

.arrow {
  fill: var(--color-surface);
}
