.tabList {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.tabItem {
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-secondary);
    outline: none;
    position: relative;
    white-space: nowrap;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: color 0.2s, border-color 0.2s;
}

.tabItem:hover {
    color: var(--color-primary);
}

.tabItemActive {
    color: var(--color-primary);
    border-color: var(--color-primary);
}