/* .appbar {
  background: linear-gradient(
    135deg,
    var(--color-primary-800) 0%,
    var(--color-primary-800) 100%
  );
  color: var(--color-on-primary);
  width: 100%;
  z-index: 10;
} */

.appbar {
  background: #0a243d;
  color: var(--color-on-primary);
  width: 100%;
  z-index: 10;
}

